.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

footer p {
    text-align: center;
    margin-top: 3em;
    color: red;
    cursor: pointer;
    display: none;
}

footer p a {
    color: red;
    cursor: pointer;
    display: none;
}
