/*МОЖЕ ДА РАСТЕШ КОЛКОТО ИСКАШ НО*/

/*КОГАТА СТАНЕШ 60em СПРИ ДА РАСТЕШ И СЕ ЦЕНТРИРАЙ*/

/*234 - ПИКСЕЛИТЕ КОЙТО ИСКАМЕ ДА ПОСТИГНЕМ*/

/*FONT-SIZE СМЕ ГО ЗАДАЛИ 16px РАЗДЕЛЯМЕ 234/16 И НАМИРАМЕ КОЛКО (em) СА НИ НУЖНИ СПРЯМО ИСКАНИТЕ ПИКСЕЛИ*/
body {

}


.site {
    max-width: var(--layouts-width, 60em);
    margin: 0 auto;
}

.site-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.site-main img  {
    width: 100%;
    height: auto;
   
}


.site-main .bgr{
    width: 66.25em;
    position: relative;
    left: -6em;
}

.site-main .bgr {
    background-attachment: fixed;
}

.site-main .btn1,
.btn2,
.btn3 {
    
    margin-right: 10em;
    padding: 0.5em;
    position: relative;
    top: -21em;
    left: 15em;
    border: 1px solid;
    border-radius: 1em;
    cursor: pointer;
    opacity: .5;
}

.site-main .btn1  p{
    padding: 2.5em;
}
.site-main .btn2  p{
    padding: 2.5em;
}
.site-main .btn3  p{
    padding: 2.5em;
}


.site-footer h1 {
    text-align: center;
    background-color: #ecf0f1;
}

.site-footer .images{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.site-footer .work1 {
   
    height: 21em;
    text-align: center;
    margin: 1em;
    background-image: url('/images/photo-1565090568947-7293970ba471.jpg');
    background-repeat: no-repeat;
    padding-top: 8em;
   
     color: #18dcff; 
    cursor: pointer;
    font-size: 1.2em;
 
    flex: 0 0 25%;
}
.site-footer .work2 {
    
    height: 27em;
    text-align: center;
    margin: 1em;
    background-repeat: no-repeat;
    background-image: url('/images/photo-1521225099409-8e1efc95321d.jpg');
    padding-top: 10em;
    
    
    flex: 0 0 25%;

}
.site-footer .work3 {
    
    height: 27em;
    text-align: center;
    background-repeat: no-repeat;
    margin: 1em;
    background-image: url('/images/photo-main2.jpg');
    padding-top: 10em;
 
    flex: 0 0 25%;

}

.work1 p{
    color: blanchedalmond;
    display: inline-block;
  
    position: relative;
    right: 3em;
}
