/*МОЖЕ ДА РАСТЕШ КОЛКОТО ИСКАШ НО*/

/*КОГАТА СТАНЕШ 60em СПРИ ДА РАСТЕШ И СЕ ЦЕНТРИРАЙ*/

/*234 - ПИКСЕЛИТЕ КОЙТО ИСКАМЕ ДА ПОСТИГНЕМ*/

/*FONT-SIZE СМЕ ГО ЗАДАЛИ 16px РАЗДЕЛЯМЕ 234/16 И НАМИРАМЕ КОЛКО (em) СА НИ НУЖНИ СПРЯМО ИСКАНИТЕ ПИКСЕЛИ*/
html {
    background: var(--layout-bgr-main, white);

  

}
.site {
    max-width: var(--layouts-width, 50em);
    margin: 0 auto;
    display: flex;
    
    

}



.site-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   opacity: .8;
}

.site-branding {
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
}



.first-img {
    position: relative;
    width: 2em;
    right: 28.79em;
    
}

.site-main .img img{
    position: relative;
    /* top: 9.5em; */
    margin-top: -1.49em;
    height: 100vh;
    margin-left: 1.3em;
    width: 1340.9px;
    right: -1.99em;
   
}


.cardmenu {
    width: 40em;
    height: 40em;
    margin-left: 2em;
}


.smile {
    display: flex;
    flex-direction: row;
    width: 47em;
    justify-content: center;
}

.text-left {
    display: flex;
    /* float: left; */
    /* width: 68em; */
    position: relative;
    /* right: 23em; */
    flex-direction: column;
    margin-top: 1.5em;
}

.text-left h2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 19em;
    flex-wrap: wrap;
}

.text-left p {
    font-size: 2.2em;
    padding-bottom: 0;
    line-height: 1;
    margin-right: 2em;
}

.text-left p::first-letter{
    font-size: 3.5em;
}

.right-img {
    /* position: relative;
    right: 19.45em; */
}
.right-img img {
    margin-top: 1.5em;
    position: relative;
    right: 3em;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 68em;
    position: relative;
    right: 15em;
    margin-top: 4em;
}
.wrapper h1 {
    text-align: center;
    font-size: 5em;
    font-family: Audiowide;
    border-top-style: dotted;
    border-bottom-style: dotted;
  }
  .img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75em;
  }
  .single-img{
    padding:0 20px 20px;
  }
  
  .single-img h4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .single-img:hover{
    opacity: .5;
    transition: .9s;
  }
  
  
  
  /* ignore the code below */
  
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }
