.nav {
    
    margin-top: 1.5em;
}

.nav ul {
    display: flex;
}

.nav ul li {
    display: block;
    margin: 0 0.7em;
}

.nav a {
    display: block;
    padding: .5em 1em;
    background-color: #EEE;
    color: #333;
    text-decoration: none;
}

a:hover {
    background-color: lawngreen;
}
