<div class="form">
    <form action="" method="post">
        <div class="field">
        <input type="text" id="name" name="name" placeholder="Who are you?"/>
        <label for="name">Name</label>
        </div>
        <div class="field">
        <input type="text" id="email" name="email" placeholder="name@domain.tld" />
        <label for="email">E-Mail</label>
        </div>
        <div class="field">
        <textarea id="msg" rows="4" name="msg" placeholder="You message..."></textarea>
        <label for="msg">Message</label>
        </div>
        <input class="button" type="submit" value="Send" />
    </form>
      
</div>
