<div class="container">

    <div class="cardName">
        <div class="imgBx">
            <img src="{{ site.baseurl }}/images/bart-van-meele-4Oc_CxCBhSA-unsplash.jpg" alt="">
        </div>
   

        <div class="contentBx">
            <div class="content-implant">
                <h2>Какво са Денталните импланти?</h2>
                <p>Зъбните импланти са коренови заместители, произведени от титан и други здрави материали. Когато липсват зъби, за заместващите зъби е важно да има котва, подобна на естествените зъбни корени, която ги фиксира здраво към устата и челюстта. В допълнение към тяхната функционалност, зъбните импланти са и естетически приятни. Зъбните импланти са практически невидими за другите, което ги прави естествено изглеждащо решение за липсващите зъби.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

    <div class="cardName">
        <div class="imgBx">
            <img src="{{ site.baseurl }}/images/harley-davidson-BW9ki_tmouE-unsplash.jpg" alt="">
        </div>
    
        
        <div class="contentBx">
            <div class="content-implant">
                <h2>Какви са ползите от наличието на зъбни импланти?</h2>
                <p>Липсата на зъби може да бъде пагубно за вашето самочувствие. Тук в офиса на Д-р Вълчева , ние сме горди да помогнем да възстановим вашата усмивка и да ви върнем доверието. Тъй като зъбните импланти са фиксирани към устата и челюстта, няма да ви се налага да се притеснявате от неприятности и неудобство при ваденето на вашите заместващи зъби. Вместо това те изглеждат и функционират точно като естествените ви зъби.

                В допълнение към връщането на вашата красива усмивка, зъбните импланти могат да ви помогнат да върнете функционалността на здравата уста.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

    <div class="cardName">
        <div class="imgBx">
            <img src="{{ site.baseurl }}/images/micheile-henderson-micheile010-visual-stories-nl-kuAXlOcQPJI-unsplash.jpg" alt="">
        </div>
    
    
        <div class="contentBx">
            <div class="content-implant">
                <h2>Какво е да имаш зъбни импланти?</h2>

                <p>За разлика от сменяемите протези, зъбните импланти са постоянно решение за липсващите ви зъби. Докато другите опции за подмяна изискват голямо поддържане и не предлагат естетиката и функционалността на естествените зъби, зъбните импланти изглеждат и се чувстват като истински зъби. След получаване на зъбни импланти ще можете да се храните и говорите нормално. В някои случаи моделите на дъвчене и говор могат дори да се подобрят от това, което са били преди! Най-важното е, че новите ви зъбни импланти ще бъдат удобни и лесни за поддръжка.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>


    <div class="cardName">
        <div class="imgBx">
            <img src="{{ site.baseurl }}/images/tiko-giorgadze-eZo-N28LTks-unsplash.jpg" alt="">
        </div>
    
    
        <div class="contentBx">
            <div class="content-implant">
                <h2>Колко дълго ще продължат?</h2>

                <p>Точно както с естествените ви зъби, за вашето импланти е важно дълголетието да правите четката и косата правилно. При правилна грижа в домашни условия вашите импланти могат да издържат цял живот. В допълнение към поддържането на здравословна рутинна грижа, препоръчваме да използвате антибактериална вода за уста, за да удължите живота на вашите импланти. Говорете със зъболекаря си за това колко често трябва да получавате зъболекарски прегледи и почистване и не забравяйте да спазвате тези срещи, тъй като те също могат да помогнат да имплантите да изглеждат и да функционират по най-добрия начин.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

</div>
<!-- Липсващи зъби могат да имат сериозни последици и за цялостното ви здраве, а зъбните импланти могат да помогнат за предотвратяване на възникнали здравословни проблеми, свързани с орално заболяване. Здравата уста води до здраво тяло, а зъбните импланти просто могат да бъдат лекарството, което води до по-добро здраве. -->
