.first-img {
    position: relative;
    width: 2em;
    right: 28.79em;
    
}

.site-main .img img{
    position: relative;
    /* top: 9.5em; */
    margin-top: -1.49em;
    height: 100vh;

    width: 1352px;
 
   
}
