.first-img {
    position: relative;
    width: 2em;
    right: 28.79em;
    
}

.site-main .img img{
    position: relative;
    /* top: 9.5em; */
    margin-top: -1.49em;
    height: 100vh;
    margin-left: 1.3em;
    width: 1340.9px;
    right: -1.99em;
   
}
