.container-implant {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerImplants {
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 0em;
    right: 10em;
    
}


.containerImplants .cardName{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-wrap: wrap;
    margin: 100px 0;
}
.containerImplants .cardName:nth-child(odd){
    flex-direction: row;
}
.containerImplants .cardName:nth-child(even){
    flex-direction: row-reverse;
}
.containerImplants .cardName .imgBx {
    position: relative;
    width: 400px;
    z-index: 1;
    left: 25px;
    height: 500px;
}
.containerImplants .cardName:nth-child(even) .imgBx {
    left: -25px;
}
.containerImplants .cardName .imgBx img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
}
.containerImplants .cardName .contentBx {
    position: relative;
    right: 25px;
    width: 500px;
    height: 560px;
    background-image: linear-gradient(to right top, #e9168e, #d832a8, #c047bd, #a258ce, #7e66da, #5e72dd, #3a7bdc, #0082d6, #0088c7, #008bb1, #008b99, #238982);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
} 
.containerImplants .cardName:nth-child(even) .contentBx{
    right: -25px;
}
.containerImplants .cardName .imgBx:before {
    position: absolute;
    content: '';
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    //background-color: #000;
    z-index: -1;
}
.containerImplants .cardName .contentBx h2 {
    font-size:  21px;
    color: #000;
    font-weight: bold;
}

.containerImplants .cardName .contentBx p {
    margin-top:  15px;
    font-weight: bold;
}
.fancy {
    background-image: linear-gradient(to right top, #0a00e7, #0045ca, #003872, #002625, #010f06);
    background-clip: '';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
