.site-header{
    background-image: linear-gradient(to right bottom, #8bce9d, #3092ca, #007d9c, #00b4ab, #2b4ee9);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}


 .site-aside {
    width: 68em;
    position: relative;
    right: 12em;
    
    
}

.practice p  {
    color: red;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0;
    position: relative;
    right: 7em;
}


.text-center {
    text-align: center; 
    display: flex;
    flex-direction: column;
    width: 65em;
    position: relative;
    right: 13em;
    
}

.text-center h1 {
    border-top-style: dotted;
}

.text-center p {
    border-block-end-style: dotted;
}
