:root {
 --font-size: 14px;
 --font-line-height: 1.5;
 --font-family-main: 'Fira Sans', sans-serif;

 --layouts-width: 44.29em;;
 --layout-padding-b: 2em;

//  --layout-main-bgr: #310404 url('{{site.baseurl}}/images/main-bgr.jpg');

 --layout-services-text-color: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

 --layout-text-color: linear-gradient(to bottom, #6bd19c, #3aceb8, #00c9d1, #03c2e3, #4bb8ec, #3ebef2, #2bc5f7, #00cbfc, #00e2ec, #23f2c1, #9dfc8b, #fbfb5f);

 --layout-services-menu: linear-gradient(to bottom, #8ecdda, #68c0dd, #40b2e3, #0fa3e8, #0091ea, #6e85ed, #a874e1, #d55ec8, #ff5795, #ff745b, #ffa222, #cdcd0d);



 /* --layout-bgr-main: rgb(82, 241, 255); */

}
