<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><title>
        {% if page.title != 'Home' %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
 <!--? Aко искаме да имаме по-голям селектор слагаме клас и на body и така в един друг файл css за специалните работи завсяка страница -->
<body class="page-{{ page.title | slugify }}">
 
    <div class="site">
        
        <header class="site-header">
            
            <input type="checkbox" id="nav-toggle" class="nav-toggle">

            <div class="site-branding">
                <div class="site-branding">
                    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
                    <!-- <p>{{ site.description }}</p> -->
                </div>
                    
            </div>
            {% include navigation.html location="header" %}
           

            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
            
        </header>

       
       
        <main class="site-main">
            <!-- TODO: Ако искаме да виждаме имената на страниците -->
            <!-- <h1>{{ page.title }}</h1> -->
           
            {{ content }}
        </main>


    </div>

    <footer class="site-footer">
            

            {% include form.html %}
            {% include footer.html %} 
        <p> <a href="https://mitaka1210.github.io/My-Portfolio/">Engr. Dimitar Dimitrov</a> &copy; All right reserved</p>
    </footer>

</body>
</html>
